* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-nav .nav-link.active {
    color: #fff;
    background-color: #ecbc8c;
}

.nav-link {
    text-align: center;
}

section {
    height: 130vh;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 4;
}

header h6,
h5 {
    color: #cf8942;
}

#about {
    margin-bottom: 0;
}

#about img {
    border-radius: 100%;
    margin-left: -1150px;
    z-index: 3;
    width: 1150px;
    height: auto;
}

.shape {
    background-color: #ecbc8c;
    width: 55%;
    height: 104%;
    position: absolute;
    border-radius: 40% 30% 0% 20%;
    top: 170px;
    right: 0;
    z-index: 1;
}

#about p {
    z-index: 2;
    width: 40%;
    position: absolute;
    top: 390px;
    right: 65px;
    color: #332727;
    text-align: justify;
}

#projects img {
    border-radius: 10%;
}

#blog .btn {
    background-color: #ecbc8c;
    border-color: #ecbc8c;
    color: #fff;
}

#contact {
    background-color: #fff;
    margin-bottom: 5px;
}

#contact .col {
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 380px;
    border-radius: 3px;
    background-color: #ecbc8c;
    border-radius: 5px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
    color:#332727; 
}

#contact h2 {
    margin-bottom: 20px;
    margin-top: 15px;
} 

#contact label {
    margin-bottom: 5px;
}

#contact input {
    margin-bottom:15px;
}

#contact .btn {
    background-color: #fff;
    border-color: #fff;
    color: #ecbc8c;
}

footer {
    background-color: #ecbc8c;
}

#footer_items {
    font-weight: 500;
    color:#fff;
    padding: 0px 0% 20px 5%;
}

#feedbacks {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
    margin-top: 30px;
}

.feedback {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--color-neutral-0);
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
}

.feedback-content p {
    display: flex;
    justify-content: space-between;
}

.feedback-content p span {
    color: #ecbc8c;
}

@media screen and (max-width: 1170px) {
    #about img {
        display: none;
    }

    #about .shape {
        width: 100%;
        height: 100%;
    }

    #about p {
        width: 80%;
        left: 120px;
        right: 100px;
        top: 350px;
    }
}

@media screen and (max-width: 800px) {
    #about .shape {
        width: 100%;
    }
    
    #about p {
        left: 80px;
        top: 350px;
        font-size: 30px;
    }
}

@media screen and (max-width: 375px) {
    #about .shape {
        width: 100%;
    }
    
    #about p {
        top: 250px;
        font-size: 25px;
        left: 40px;
    }
}